In [1]:
print("Hello World")

Hello World

# Our First Class

Dhoraji Association

In [2]:
 print(1,2,3,4)

1 2 3 4

In [3]:
print (11, "hello World")

11 hello World

In [4]:
print("This is AI class\n Dhoraji Association")

This is AI class
 Dhoraji Association

In [5]:
print("Languages:\nPython\nRuby\NJavascript")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 24-25: malformed \N character escape (<ipython-input-5-807b3813985d>, line 1)

In [6]:
print("Languages:\nPython\nRuby\nJavascript")

Languages:
Python
Ruby
Javascript

In [7]:
print("Hassan")

Hassan

In [8]:
print("Languages:\n\tPython\nRuby\nJavascript")

Languages:
	Python
Ruby
Javascript

In [9]:
print("Languages:\n\tPython\n\tRuby\n\tJavascript")

Languages:
	Python
	Ruby
	Javascript

In [10]:
print("\t\tHassan")

		Hassan

In [14]:
num = "Pakistan"
print (num)
type (num)

Pakistan

str

In [21]:
a=10
a

10

In [23]:
a

10

In [24]:
num

'Pakistan'

In [38]:
First_name = "Muhammad"
print(First_name.title())

Muhammad

In [46]:
Middle_name="Hassan"
print(Middle_name.upper())

HASSAN

In [45]:
last_name = "yahya"
print(last_name.lower())

yahya

In [50]:
num_1=150
print (num_1+20)
print(num_1)

170
150

In [53]:
num_2 = 20
num_3 = 40
num_3 + num_2

60

In [54]:
num_2+num_1+num_3

210

In [68]:
num = 10
another_num = 1.5
total = (int (num + another_num))
print (total)
type (total)

11

int

In [77]:
FirstName = "Muhammad"
MiddleName = "Hassan"
LastName = "Yahya"
FullName = FirstName + " " + MiddleName + " " + LastName
print(FullName)

Muhammad Hassan Yahya

In [85]:
print ("How are you" + " " + FullName.upper()+"?")

How are you MUHAMMAD HASSAN YAHYA?

In [87]:
remainder = 10%3
remainder

1